body {
  margin: 0;
  font-family: "Pretendard", "D2Coding", "Wakeup";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", "D2Coding", monospace;
}
